.container {
    padding: 70px;
    gap: 30px;
    display: flex;
    flex-direction: column;

    .about {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        gap: 30px;

        .card {
            display: flex;
            flex-direction: column;
            gap: 30px;
            height: 300px;
            border: 1px solid white;
            border-radius: 15px;
            overflow: hidden;

            .card-image {
                height: 200px;
            }

            .card-image img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .card-content {
                padding: 0 20px;
            }

            .card-content a {
                color: #E4E6EB;
                text-decoration: none;
                transition: 0.3s all;
            }

            .card-content a:hover {
                color: #a8bbbf;
                transition: 0.3s all;
            }
        }

    }

}
@media (max-width:771px) {
    .cards {
        flex-direction: column !important;
        .card {
            width: 100%;
        }
    }
}